<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" lang="ru">
<head>
    <title>Заголовок</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="/logout" method="POST">
    <label> <input type="submit" value="Sign Out"/></label>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
</form>
<div>
    <form method="POST">
        <label><input type="text" name="text" placeholder="Введите сообщение"></label>
        <label><input type="text" name="tag" placeholder="Tэг"></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Добавить</button>
    </form>
</div>

<div>Список сообщений</div>

<div>
    <form method="POST" action="filter">
        <label><input type="text" name="filter"></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Найти</button>
    </form>
</div>

<div>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    <div>
    {{/messages}}
</div>
</body>
</html>